.App {
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.Navbar {
  height: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
  width: 265px;
  flex-shrink: 0;
  transition: width 0.3s ease-in-out;
}

.NavbarCollapsed {
    width: 80px;
}

.Logo {
  width: 265px;
  object-fit: cover;
}

.Setting {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Setting button {
  background: transparent;
  border: none;
  color: #b3b3b3;
  transition: color 0.3s;
}

.Main {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.ChatContainer {
  flex-grow: 1;
  background: light-dark(#ffffff, #212121);
  border-radius: 16px;
  overflow-y: auto;
}
