.App {
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.Navbar {
  height: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
  width: 265px;
  flex-shrink: 0;
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;
}

.NavbarCollapsed {
    width: 80px;
}

.Logo {
  width: 265px;
  object-fit: cover;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.NavbarCollapsed .Logo {
  width: 0;
  opacity: 0;
}

.Setting {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Setting button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c1c1c1;
  border: none;
  color: #000000;
  transition: color 0.3s, transform 0.1s, background-color 0.1s, width 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 6px;
  padding: 0 8px;
  width: 200px;
  white-space: nowrap;
}

.Setting button:active {
    transform: scale(0.95);
    background-color: #a1a1a1;
}

.NavbarCollapsed .Setting button {
    width: 44px; /* 28px icon + 2*8px padding */
}

.Setting button img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  transition: margin-right 0.3s ease-in-out;
}

.NavbarCollapsed .Setting button img {
    margin-right: 0;
}

.Setting button p {
    transition: opacity 0.2s;
    opacity: 1;
}

.NavbarCollapsed .Setting button p {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.Main {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.ChatContainer {
  flex-grow: 1;
  background: light-dark(#ffffff, #212121);
  border-radius: 16px;
  overflow-y: auto;
}
